.movies {
  padding: 13px 10px;
  margin-bottom: 97px;
}

@media screen and (min-width: 768px) {
  .movies {
    padding: 12px 30px;
    margin-bottom: 83px;
  }
}

@media screen and (min-width: 1280px) {
  .movies {
    padding: 10px 70px;
  }
}
