.search-form {
  margin: 67px 4px 0;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 49px;
  border-bottom: #424242 solid 1px;
}

.search-form__container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}

.search-form__input {
  width: 100%;
  box-sizing: border-box;
  border: #2f2f2f solid 1px;
  background-color: #2f2f2f;
  height: 46px;
  border-radius: 40px;
  color: #fff;
  padding: 0 0 0 19px;
}

.search-form__input:focus {
  outline: none;
  box-shadow: 0px 0px 4px 1px rgba(43, 224, 128, 0.8);
}

.search-form__input::placeholder {
  color: #8b8b8b;
}

.search-form__submit {
  margin-left: -86px;
  width: 80px;
  height: 34px;
  border: #4285f4 solid 1px;
  border-radius: 46px;
  background-color: #4285f4;
  content: none;
  background-image: url(../../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.search-form__submit:focus {
  outline: none;
  box-shadow: 0px 0px 4px 1px rgba(43, 224, 128, 0.8);
}

.search-form__submit:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .search-form {
    margin-left: 0;
    margin-right: 0;
    font-size: 13px;
    line-height: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .search-form {
    margin-top: 49px;
    padding-bottom: 69px;
  }
}
