.alert {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  top: 5px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  display: none;
}

.alert_opened {
  display: block;
}

.alert__close-button {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert__close-button:hover {
  color: black;
}
