.techs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__header {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 59px 0 0;
}

.techs__subheader {
  font-size: 11px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 25px 0 45px;
  max-width: 460px;
}

.techs__features {
  list-style: none;
  margin: 0 auto;
  padding: 0 48px;
  display: flex;
  flex-wrap: wrap;
}

.techs__feature {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 57px;
  background-color: #303030;
  margin: 5px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .techs__header {
    font-size: 50px;
    line-height: 58px;
    margin-top: 80px;
  }

  .techs__subheader {
    font-size: 12px;
    line-height: 18px;
    margin: 22px 0 78px;
  }

  .techs__features {
    padding: 0;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .techs__header {
    margin-top: 90px;
  }
  .techs__subheader {
    font-size: 14px;
    line-height: 20px;
    margin: 27px 0 94px;
  }

  .techs__feature {
    font-size: 14px;
    width: 90px;
    height: 60px;
  }
}
